VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_APP_URL=https://mnafricano.github.io/revenue-auditor/
VITE_SUPPORT_EMAIL=
VITE_AUTH_FROM_EMAIL=
VITE_TURNSTILE_SITE_KEY=
VITE_GOOGLE_AUTH_ENABLED=true
VITE_EMAIL_AUTH_ENABLED=false
