SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
APP_URL=https://mnafricano.github.io/revenue-auditor/
SUPPORT_EMAIL=
AUTH_FROM_EMAIL=
SUPABASE_AUTH_CAPTCHA_SECRET=
SENDGRID_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SOLO_MONTHLY_PRICE_ID=
STRIPE_SOLO_ANNUAL_PRICE_ID=
STRIPE_TEAM_MONTHLY_PRICE_ID=
STRIPE_TEAM_ANNUAL_PRICE_ID=
STRIPE_CONNECT_CLIENT_ID=
STRIPE_CONNECT_CLIENT_SECRET=
QUICKBOOKS_CLIENT_ID=
QUICKBOOKS_CLIENT_SECRET=
QUICKBOOKS_ENVIRONMENT=sandbox
OAUTH_ENCRYPTION_KEY=
SCHEDULE_SECRET=
